############
## IDEs
############

*.pydevproject
.project
.metadata
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
nbproject/
.vscode/
_arc/
.Saved/
*.sublime-*

############
## OSes
############

[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?

############
## Misc
############

bin/
tmp/
*.tmp
*.bak
*.log
*.[Cc]ache
*.cpr
*.orig
*.php.in
.idea/
temp/
._*
.Trashes
*.rar
*.zip

.svn

*.codekit
*.scssc

bower_components/
node_modules/
npm-debug.log

/assets/
.grunt-init
/assets/
/build/*
!/build/readme.md
/design/
/vendor/


